/* @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css); */

.testimonial-heading > h1 {
  padding-top: 25px;
  color: #333;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 45px;
}

.main-testimonials {
  background-color: white;
}

figure.snip1192 {
  font-family: "Raleway", sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 510px;
  width: 100%;
  color: white;
  text-align: left;
  box-shadow: none !important;
}
figure.snip1192 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

figure.snip1192 img {
  max-width: 100%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  display: inline-block;
  z-index: 1;
  position: relative;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.23);
}
figure.snip1192 blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #333;
  /* background-color: #f46524; */
  padding: 30px 50px 65px 50px;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 500;
  margin: 0 0 -50px;
  line-height: 1.6em;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); */
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.23);
}

figure.snip1192 blockquote:hover {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.19), 0 6px 12px rgba(0, 0, 0, 0.23);
}
figure.snip1192 blockquote:before,
figure.snip1192 blockquote:after {
  font-family: "Raleway", sans-serif;
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1192 blockquote:before {
  top: 35px;
  left: 20px;
}
figure.snip1192 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 35px;
}
figure.snip1192 .author {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: #333;
}
figure.snip1192 .author h5 {
  font-family: "Raleway", sans-serif;
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
figure.snip1192 .author h5 span {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-transform: none;
  display: block;
}

@media screen and (max-width: 1600px) {
  figure.snip1192 {
    width: 90%;
  }
}

@media screen and (max-width: 570px) {
  figure.snip1192 {
    width: 80%;
  }
}
