.mission {
    width: 70%;
    margin: auto;
    padding-top: 50px;
}

.mission > h1 {
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 45px;
}

.mission > p {
    text-align: center;
    color: #555555;
    font-size: 22px;
    font-family: "Raleway", sans-serif;
}

.team {
    padding-top: 50px;
}

.team > h1 {
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 45px;
}

@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);
.team4 {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
  font-weight: 300;
}

.team4 h1, .team4 h2, .team4 h3, .team4 h4, .team4 h5, .team4 h6 {
  color: #3e4555;
}

.team4 .font-weight-medium {
	font-weight: 500;
}

.team4 h5 {
    color: #333;
    font-family: 'Raleway', sans-serif;
    line-height: 22px;
    font-size: 25px;
    font-weight: bold;
}



.team4 .subtitle {
    color: #555555;
    line-height: 24px;
		font-size: 14px;
}

.team4 h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.team4 ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team4 ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
	color: #316ce8;
}
