.main {
    display: flex;
    flex-direction: row;
    height: 70vh;
    padding-top: 25px;
}

.left {
    width: 50%;
    margin: auto;
}

.right {
    width: 50%;
    margin: auto;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}


.right > h1 {
   color: #333;
   font-family: 'Raleway', sans-serif;
   font-weight: 600;
   font-size: 40px;
}