.main-info {
    margin: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
}

.million {
    color: #f46524;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 75px;
}

.first {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
}

.second {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.img-info {
    width: 50%;
    justify-content: center;
    margin: auto;
}

.img-info2 {
    width: 50%;
}

.material {
    text-align: center;
    margin: auto;
    padding-bottom: 50px;
}

.material > h1 {
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 45px;
}

.material2 {
    text-align: center;
    margin: auto;
}

.material2 > h1 {
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 35px;
}

.material > p {
    text-align: center;
    color: #555555;
    font-size: 22px;
    font-family: "Raleway", sans-serif;
}

.mission {
    width: 70%;
    margin: auto;
    padding-top: 50px;
}

.mission > h1 {
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 55px;
}

.mission > p {
    text-align: center;
    color: #555555;
    font-size: 22px;
    font-family: "Raleway", sans-serif;
}

@media screen and (max-width: 960px) {
    .first {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        padding-top: 50px;
    }

    .main-info {
        padding-bottom: 10px;
    }

    .img-info {
        width: 70%;
    }

    .material > h1 {
        font-size: 35px;
    }

    .mission > h1 {
        font-size: 35px;
    }

    .mission > p {
        font-size: 20px;
    }

    .million {
        font-size: 55px;
    }
}

@media screen and (max-width: 768px) {

    
    .img-info {
        width: 100%;
    }
    .material > h1 {
        font-size: 25px;
    }

    .million {
        font-size: 45px;
    }

    .mission > p {
        font-size: 20px;
    }
}