.horizontal-flex {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 110px;
  margin-bottom: 110px;
}

.hero-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0px;
  padding-top: 75px;
  padding-bottom: 75px;
}

.hero-container > h1 {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 45px;
  padding-bottom: 0px;
}

.special-char {
  color: #f46524;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 45px;
}

.gif-container {
  width: 50%;
  align-content: center;
  
}

.contain {
  width:95%;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
}

.contain:hover {
  box-shadow: 0 10px 40px rgba(0,0,0,0.19), 0 6px 12px rgba(0,0,0,0.23);
}

.short-info {
  width: 50%;
}

.short-info > p {
  margin-top: 8px;
  text-align: center;
  color: #555555;
  font-size: 22px;
  font-family: "Raleway", sans-serif;
}

.hero-btns {
  margin-top: 20px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .horizontal-flex {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .hero-container > h1 {
    font-size: 45px;
  }

  .short-info {
    width: 60%;
  }

  .hero-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .gif-container {
    width: 100%;
  }
  .contain {
    width: 90%;
    object-fit: contain;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 40px;
    padding-top: 5px;
    padding-bottom: 0px;
  }

  .short-info {
    width: 80%;
  }

  .short-info > p {
    font-size: 20px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
