
:root {
    /* --primary: #fff; */
    --primary: #f46524;
    --lighter: #f46524aa;
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary {
    background-color: var(--primary);
    color: #ffffff;
    border-radius: 50px;
    border: none;
    box-shadow: 0 5px 20px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
}

.btn--primary:hover {
    background-color: var(--lighter);
    box-shadow: 0 10px 40px rgba(0,0,0,0.19), 0 6px 12px rgba(0,0,0,0.23);
}

.btn--outline {
    background-color: transparent;
    color: #000;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn-medium {
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}

.btn--medium:hover, btn--large:hover {
    background: #000;
    color: #ffffff;
    transition: all 0.3s ease-out;
}