/* .sign-up-heading {
    
} */

.sign-up-heading > h1 {
    color: #f46524;
    font-family: Catamaran;
    font-size: 3.5rem;
}

.left-box {
    width: 50%;
}

.mail-ids {
    color: black;
    justify-content: center;
    align-items: center;
}

.sign-up {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.mail-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -20px;
    /* background-color: #f46524; */
}

.mail-info > p {
    margin-top: 8px;
    text-align: center;
    color: black;
    font-size: 22px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.mail-ids {
    text-align: left;
    font-size: 20px;
    line-height: 30px;
}

.google-form {
    width: 50%;
    padding-top: 50px;
}

@media screen and (max-width: 1200px) {
    .left-box {
        width: 100%;
    }

    .google-form {
        width: 100%;
    }
}

@media screen and (max-width: 960px) {
    .left-box {
        width: 100%;
    }

    .sign-up-heading > h1 {
        font-size: 40px;
        padding-top: 40px;
    }

}